.block-orange-fon {
  background-color: #FF7800;
  color: #ffffff; }

.block-title_orange h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.block-orange_box {
  padding: 0;
  margin: 0 auto;
  width: 65%; }

.block-orange_left {
  float: left;
  width: 50%; }

.block-orange_part {
  float: left;
  width: 50%; }

.orange-block_img {
  float: left; }

.orange-block_text {
  font-size: 1.125rem;
  padding-left: 10px;
  float: left;
  width: 70%; }