.pfone-man {
  background: #000 url("../img/phone-men.jpg") center center no-repeat;
  min-height: 700px;
          background-size: cover;
  position: relative; }

a.pfone-man-rocets {
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 2px;
  background: #ffffff url(../img/roket.png) no-repeat;
  left: 50%;
  margin-left: -23px;
  bottom: -30px;
       border-radius: 50%;
  z-index: 100;
  transition: all 0.5s ease 0.1s; }

a.pfone-man-rocets:hover {
         transform: rotate(180deg); }

.th-block {
  width: 60%;
  position: relative; }

.phone-description {
  margin-top: 20px;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 2.5rem;
  color: #FF7800;
  text-shadow: 1px 1px 6px #95989A; }

.phone-text {
  font-size: 1.25rem;
  padding-bottom: 30px;
  text-align: left; }

.phone-desition {
  margin-top: 70px;
  margin-left: 0;
  border: 1px dotted #FF7800;
  text-align: left;
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 2.5rem;
  position: absolute;
  left: 0; }

.phone-desition span {
  color: #FF7800;
  display: block; }