#firstswiper00 {
  margin-top: 18px;
}


.portfolio {
margin: 0;
overflow: hidden;
padding: 0;
position: relative; }

.portfolio img {
transition: all 1.25s ease; }
.our-portfolio {
  // width: 100%;
  // height: 100%;
display: inline-block;
width: 100%;
height: auto;
   }
#portfolio .block-title h2 {
  margin-bottom: 20px; }
.portfolio-item {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
text-align: center;
cursor: pointer;
background-color: transparent;
transition: all .5s ease-in-out;
transform: scale(1);

transition: all 1.25s ease;
opacity: 1; }

.portfolio-item:hover {
background-color: rgba(0, 0, 0, 0.6);
cursor: pointer; }

.portfolio-item-link {
position: absolute;
width: 160px;
height: 160px;
margin-top: -80px;
margin-left: -80px;
left: 50%;
top: 50%; }

a.portfolio-item-link {
color: #fff;
background-color: #FF7800;
cursor: pointer;
opacity: 1;
text-align: center;
transition: all 1.25s ease;
display: flex;
justify-content: center;
flex-direction: column;
opacity: 0; }

a.portfolio-item-link:hover {
opacity: 1;
text-decoration: none; }

.property-info {
bottom: 0;
left: 0;
position: absolute; }

.property-info p {
padding: 0; }

.property-info .title1, .property-info .title2 {
color: #fff;
font-family: arial;
font-size: 12px;
padding: 3px;
text-align: left;
font-weight: bold;
margin: 0;
background: #000;
float: left;
font-family: 'Arial', Helvetica, sans-serif; }

.property-info .title2 {
background: #58595b;
float: left; }

.link-area {
float: left;
width: 100%; }

.link-area .col-left {
float: left;
width: 30%; }

.link-area .col-left a {
color: #f6b453;
font-size: 16px;
font-family: 'Arial', Helvetica, sans-serif;
font-weight: bold;
transition: 0.5s;
}

.link-area .col-left a:hover, .link-area .col-left a:active, .link-area .col-left a:focus {
color: #000; }

.link-area .col-right {
float: right;
width: 30%;
text-align: right; }


.modal_form_picture {
width: 30%;
height: 600px;
overflow: hidden;
float: left;
padding: 0;
position: relative; }

.modal_form_picture img {
width: 300px;
position: absolute;
transition: top 10s ease-out 0.3s;
cursor: pointer; }

.modal_form_text { padding: 0;
margin: 0;
float: right;
width: 70%;
text-align: center; }

.portt-popap {padding: 0;
-ms-text-align-last: auto;
text-align: left;
width: 60%;
position: relative;
}


.modal_form_box {
padding: 0;
margin: 0;
position: relative; }

.modal_form_title {
display: block;
padding: 6px 0;
text-align: left;
background-color: #000000;
width: 100%;
font-weight: bold;
padding-left: 10px;
font-size: 1.25rem;
color: #ffffff; }

.modal_form_cost {
display: inline-block;
color: #000000;
margin: 0 auto;
font-size: 1.125rem;
padding: 5px 0;
border-bottom: 1px dotted #FF7800; }

.modal_form_cost span {
font-weight: bold; }

.modal_form_descr {
  text-align: left;
  padding: 20px 10px 15px 10px;
  display: block;
  font-size: .95rem; }

  .modal_form_descr h4 {
    margin-bottom: 5px; }

    .modal_form_descr p {
      color: #8F8F8F;
      margin-left: 20px;
      margin-bottom: 0;
      margin-top: 0;
      font-size: .95rem;
    }

.modal_form_descr dl {
 margin: 5px 0;
 color: #8F8F8F;
 font-weight: bold;
 color: #000; }

.modal_form_descr dl dd,
.modal_form_descr dl dt {
  margin-left: 10px;
  font-weight: normal;
  color: #8F8F8F; }
.modal_form_descr dl dt {
    color: #333;
    font-weight: 600;
}
.modal_form_descr dl dt {
margin-bottom: 5px;
 }
.modal_form_descr dl dd {
margin-left: 20px;
}
.modal_form_descr dl dd:first-child {
   margin-top: 5px; }




.like-fon {
  background: #ffffff url("../img/like-fon.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative; }

.like-fon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); }

.like-fon .block-description {
  color: #000000; }

.like-fon .forms-call {
  margin-top: 0;
  margin-bottom: 20px; }



  .forms-input {
  float: left;
  width: 31.33333%;
  padding: 0 1%; }

.forms-input_style input {
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 1.0rem;
  line-height: 40px;
  border: 0;
  border: 2px solid #FF7800;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  text-indent: 10px;
  margin: 10px auto;
  -webkit-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  outline: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4); }

.forms-input .get-buttons {
  background-color: #F89430;
  padding: 0;
  text-indent: 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s; }

.forms-input .get-buttons:focus,
.forms-input .get-buttons:hover,
.forms-input .get-buttons:active {
  border: 2px solid #bc6106;
  background-color: #bc6106;
  color: #ffffff;
  text-decoration: none; }

.forms-input_style label {
  margin: 10px 0;
  display: block; }

.button-call {
  text-align: center;
  margin: 0;
  float: right; }





.like-fon .forms-call {
    margin-top: 0;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    }
.like-fon .forms-calldecor {
width: 100%;
max-width: 100%;
}