.swiper-container {
  width: 100%; }
.swiper-wrapper {
  margin-bottom: 45px; }


.box-img-kommand-wrap {
  padding: 15px 0;
  margin: 0; }


.step-develop {
  margin-left: 55px;
  margin-bottom: 15px;
  text-align: left;
  color: #FF7800;
  font-size: 1.25rem;
  position: relative; }


span.nmber {
  position: absolute;
  top: -4px;
  left: -35px;
  border: 1px solid #FF7800;
  width: 30px;
  font-size: 1.25rem;
  display: inline-block;
  height: 30px;
  padding: 0;
  font-variant: normal;
  line-height: 30px;
      border-radius: 50%;
  text-align: center; }

span.title {
  text-transform: uppercase;
  font-weight: bold; }

.box-img-step {
  padding: 10px 5px; }

.box-img-step img {
  width: 300px;
  height: 300px; }

.block-avtor_fon {
  background: #000 url("../img/fon-avtor.jpg") top center no-repeat;
  min-height: 730px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative; }

.block-avtor_fon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); }

.block-avtor_fon .block-title h2 span {
  color: #FF7800; }

.block-avtor_fon .phone-text {
  margin-top: 20px;
  padding: 0 10%;
  text-align: center;
  font-size: 1.125rem; }

.our-comand {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  font-size: 1.25rem;
  position: relative;
  margin-bottom: 20px; }

.our-comand:before {
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0;
  right: 0;
  content: '';
  border: 1px dashed #FF7800; }

.our-comand_believe p {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 0; }

.our-comand_believe p:last-child {
  margin-bottom: 0; }

.inner {
  padding: 10px 0;
  margin: 0; }

.block-avtor_fon .quation-buro {
  margin-top: 30px; }

.box-text-kommand {
  margin: 0;
  padding: 3px; }

.box-img-kommand {
  padding: 10px 5px; }

.box-img-kommand-left {
  float: left; }

.box-img-kommand-right {
  float: right; }

.box-img-kommand img {
  width: 150px;
  height: 150px;
         border-radius: 50%;
  border: 1px solid #FF7800; }

.box-text-kommand {
  margin-left: 5px;
  width: 70%; }

.box-text-kommand_t {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: left;
  display: inline-block;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px dotted #F89430;
  margin-bottom: 10px; }

.box-comment {
  margin: 0;
  text-align: left; }

.box-comment .quation-buro {
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  line-height: 40px; }

.box-comment p a {
  color: #000;
  text-decoration: underline; }

.box-comment p a:hover {
  transition: all 1.5s ease;
  color: #FF7800; }

.box-comment ul {
  list-style-type: none; }

.box-comment ul li {
  display: inline-block; }

.box-comment ul li a {
  padding: 5px;
  color: #000000;
  font-size: 0.9375rem; }

.box-comment ul li a:hover {
  padding: 5px;
  font-size: 0.9375rem;
  color: #F89430;
  transition: all 0.5s ease 0.1s; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px; }
.swiper-pagination-bullet {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.3rem;
  background-color: #ffffff;
  opacity: 1;
  border: 1px solid #FF7800;
  transition: all 0.5s ease; }

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
  color: #fff;
  background: #FF7800; }

#firstswiper00 .swiper-pagination .swiper-pagination-bullet,
#firstswiper00 .swiper-pagination .swiper-pagination-bullet,
#firstswiper .swiper-pagination .swiper-pagination-bullet,
#swiper-avtor .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px; }


